.product__page-cards {
    padding: 2rem;
    background: var(--white);
    color: var(--black);
    background-color: #ececec;
    max-width: 100%;
  }

  .product__page-cards h1 {
    text-align: center;
    font-weight: 400;
  }

  .product__page-cards__container {
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  .product__page-cards__wrapper {
    position: relative;
    margin: 10px 0 45px;
  }
  .product__page-cards__items {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 24px;
  }

  @media screen and (max-width:1024px)
  {
    .product__page-cards__items {
      flex-direction: column;
    }
    .product__page-cards {
      padding: 2rem;
    }
    .product__page-cards__wrapper {
      margin: 10px 0 45px;
    }
  }