.home__sale{
    background-color: var(--white);
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.home__sale .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    background-color:var(--container-color-dark);
    color: var(--white);
    border-radius:20px ;
    margin: 20px 15%;
}

.home__sale .content{
    padding: 30px 0px 30px 50px;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.home__sale .content .title{
    font-size: 30px;
    font-weight: bolder;
    width: 100%;
    margin: 10px 0;
}

.home__sale .content .desc{
    font-weight: 400;
    width: 100%;
}

.home__sale .content .btn{
    margin-top: 20px;
    font-size: 18px;
}

.home__sale .content .btn .fal{
    margin-left: 10px;
    transition: .3s;
}
.home__sale .content .btn:hover .fal{
   transform: translateX(3.5px);
}

.home__sale .image-container img{
    width: 250px;
}
.home__sale .image-container{
    transition: .3s;
}
.home__sale .image-container:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 769px)
{
    .home__sale .details{
        flex-direction: column-reverse;
        margin: 30px 0;
    }
    .home__sale .container{
        margin: 0px 1%;
    }
    .home__sale .content{
        padding: 20px;
        width: 100%;
    }
    .home__sale .content .title{
        font-size: 25px;
        width: 100%;
    }
    .home__sale .content p{
        font-size: 12px;
    }
    .home__sale .content .desc{
        font-size: 12px;
        width: 80%;
    }
    .home__sale .image-container img{
        display: none;
    }
}