.vid-container{
    position: relative;
    background: black;
    color: white;
    overflow: hidden;
}

.vid-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, var(--first-color-lighter), var(--first-color)) ;
    pointer-events: none;
    mix-blend-mode: color;
}

.vid-container:hover::after{
    content: '';
    background: none;
}

.vid-container .playBtn-container{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
    background:hsla(var(--vid-container-hue-color), 29%, 16%, 0.6);
}

.vid-container:hover .playBtn-container{
    display: none;
}

.vid-container video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
