:root{
    /* Change favorite color Purple 250 - Green 142 - Blue 230 - Pink 340 */
    --hue-color: 142;
    --container-hue-color:250;
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
  
    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);;
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);;
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);;
    --container-color: hsl(var(--container-hue-color), 92%, 85%);
    --container-color-dark:hsl(var(--container-hue-color), 29%, 16%);

  }